.buttons {
    float: right;
    margin: 10px;
} 
.bar {
    background-color: yellow;
    float: left;
}

#view {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    /* background-color: white; */

}